.app{
    background-color: #403D50;
    display: grid;
    height: 130vh;
    /* width: 100vw; */
    place-items: center;
}

.app__body{
    display: flex;
    background-color: #1E1D2D;
    height: 120vh;
    width: 90vw;
    border-radius: 20px;

}